<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            Applications Tracker - {{ title }}
        {% else %}
            Applications Tracker
        {% endif %}
    </title>
</head>
<body>
    <h1>Home Page</h1>
    {% for application in applications %}
        <h2>{{ application.company }}</h2>
        <p>{{ application.position }}</p>
    {% endfor %}
</body>
</html>